<h1>Defined Terms -- INPU</h1>
<p>Please enter the text of the contract you would like analyzed:</p>
<form id="defined_terms_contract">
<textarea cols="60" name="contract" rows="60"></textarea></h2>
</form>
