<div class="center hero-unit">
  <h1>Defined Terms Tools</h1>
  <h2>This tool helps you check a document to determine if any capitalized terms
      are being utilized that have not been defined.
  </h2>
</div>
<div class="center container" >
  <p>Please enter the text of the contract you would like analyzed:</p>
  <form id="defined_terms_contract">
    <textarea cols="480" name="contract" rows="20"></textarea>
    <br>
    <%= link_to "Check Defined Terms", '#', class: "btn btn-large btn-primary" %>
  </form>
</div>
